# Dependencies
node_modules/
npm-debug.log*
package-lock.json

# Environment variables
.env
.env.local

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Mac
.DS_Store

# Windows
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.temp